body{ box-sizing:border-box; margin: 0; background-color: #E9EAED !important; width: 100%;}
img{-khtml-user-select: none; -o-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none;}
::-webkit-scrollbar {display: none;} ::-o-scrollbar {display: none;} ::-moz-scrollbar {display: none;} ::scrollbar {display: none;}
.container{margin:0; width: 100%; height: 923px; background-color: transparent;  float: left;}

 /*index.php styles */


.video-fl{float: left; margin-left: -1.3%;  width: 110vw;   position: relative;position: absolute; top: 0; left: 0; z-index: -1;}
.video{width: 105vw; height: 50%; opacity: 0.5;}
.video-fl .welcome{float: left; z-index: 1100; position: absolute; top:24%; width: 40%; margin-right: 30%; margin-left: 30%;}
.video-fl .welcome h1{font-family: verdana; font-weight: bold; color: black; font-size: 3vw; line-height: 100%;}
.video-fl .welcome p{color: black; font-weight: regular; font-family: arial; margin-top: 5%; margin-left: 5%; margin-right: 5%;}
.video-fl .welcome button{border:none; background-color: red; color: white; font-weight: bold; width:25%;  padding-top:2%; padding-bottom:2%; margin-left:2%; margin-right:2%; float: left; border-radius: 3%; -o-border-radius: 3%; -moz-border-radius: 3%; -webkit-border-radius: 3%;}
.video-fl .welcome .buttons{margin-left: 10%; margin-top: 3%;}
.video-fl .welcome .blue{background-color: #3498db !important;}
.video-fl .welcome .pink{background-color: #c0392b !important;}
.video-fl .welcome .gray{background-color: #34495e !important;}

/*.forgetpass{margin-bottom:5%; width: 110vw; position: relative; text-align: center; margin-top: 60vw; padding-left: 2%; padding-right: 2%;}*/



.header{z-index:10; background-color: #FFFFFF; color:#B3B3B3 !important; font-family: arial; padding-left:8%; padding-right:8%; padding-top: 1.5%; padding-bottom: 1.5%; width: 100%; position: fixed; top: 0; left: 0; box-shadow: 1px 1px 1px lightgray; -webkit-box-shadow: 1px 1px 1px lightgray; -o-box-shadow: 1px 1px 1px lightgray; -moz-box-shadow: 1px 1px 1px lightgray;}
.header .a{width: 28%; float: left;}
.header .a span{font-size: 1.1vw; margin-right: 3%;}
.header .rwd{display: inline;}
.header a{text-decoration:none; color:#bdc3c7;}
.header .a span:hover{color: #3d566e; cursor: pointer; transition:0.7s;}
.header .a span i{font-size: ;}
.header .b{width: 28%; float: left;text-align: center; padding-top: 0.2%;}
.header .b span{display:none; background-color: #2FDAB8; color:white; padding-left: 2.3%; padding-right: 2.3%;  padding-top: 2%; padding-bottom: 2%; border-radius: 3500px; -moz-border-radius: 3500px; -o-border-radius: 3500px; -webkit-border-radius: 3500px;}
.header .b span:hover{background-color:#20B396; transition:0.7s; cursor: pointer;} 
.header .b span i{font-size: ;}
.header .b img{width:60px; height:40px; }

.header .c{width: 28%; float: right; margin-right: 9.5%;}
.header .c span{margin-right: 2%;font-size:0.8em; }
.header .c .search{font-size:0.8vw; background-color: #F3F3F3; padding-top: 1.5%;  padding-bottom: 1.5%; padding-left: 3%;  padding-right: 3%;  border-radius: 100px; -moz-border-radius: 100px; -o-border-radius: 100px; -webkit-border-radius: 100px;}
.header .c .search input{width:40%; font-size:0.8em; color:#3d566e ; border: none; outline:none; background-color: transparent;}
.header .c .search i{font-size: 0.8em;}
.header .c .login{display: inline; font-size: 1vw; float:right;}
.header .c .login kbd{font-size: 0.7vw; background-color:red; border-radius:1050px; padding-left:2% !important; padding-right:2% !important; padding:1%; color:white;}
.header .c .join i{display: none;}
.header .c .join p{display: inline;}
.header .c .join{ cursor: pointer ; font-size: 0.8vw; background-color:#2FDAB8; color:white; padding-top: 1.5%;  padding-bottom: 1.5%; padding-left: 4.5%;  padding-right: 4.5%;  border-radius: 100px; -moz-border-radius: 100px; -o-border-radius: 100px; -webkit-border-radius: 100px;}
.header .b .active, .header .a .active, .header .c .active{color: #3d566e; cursor: pointer; transition:0.7s;}

.cover{background-image:url('../img/wall.jpg'); background-size: 100% 100%; height:20vw; float: left; width: 85%; margin-left: 7.5%; margin-top: 5.5%; margin-bottom: -2%;}

/*.header{z-index: 100; width: 110vw; float: left; padding-left: 15%; font-size: 1.2vw;}
.header ul{list-style-type: none;}
.header li{display: inline; margin-left: 2.3%;}
.header .logo a{color: white; font-size: 1.6vw; text-decoration: none;}
.header .logo i{color: white; font-size: 1.6vw;}
.header ul li a{color: white; font-family:calibri,sans-serif; letter-spacing: 0.1vw; font-size: 1vw;}

.header .left{float: left; width: 59%; margin-top: 1.5%;}
.header .right{float: left; width: 25%; margin-top: 2.1%;}
*/
.food{margin-bottom:5%; width: 110vw; float: left; margin-top: 60vw; padding-left: 2%; padding-right: 2%;}


.food .product-container{width: 100%; height:5%; float: left;}
.food .product-container .item{word-break: break-all; height: 5%; width: 18%; margin-right: 1%; margin-left:1%; float: left; border: 1px solid #2c3e50; padding: 1%; margin-top: 1%; margin-bottom: 1%;}
.food .product-container .item img{width: 90%; height:10%; margin-left: 5%; margin-right: 10%;}
.food .product-container .item .name{font-size: 1vw; font-weight: bold; text-align: center;}
.food .product-container .item .desc{ font-size: 0.7vw; text-align: center;}

.events{margin-bottom:5%; width: 110vw; float: left; margin-top: 60vw; padding-left: 2%; padding-right: 2%;}
.events .product-container2{width: 100%; height:5%; float: left;}
.events .product-container2 .item2{ word-break: break-all; height: 5%; width: 18%; margin-right: 1%; margin-left:1%; float: left; border: 1px solid #2c3e50; padding: 1%; margin-top: 1%; margin-bottom: 1%;}
.events .product-container2 .item2 img{width: 80%; margin-left: 5%; margin-right: 10%;}
.events .product-container2 .item2 .name{font-size: 1vw; font-weight: bold; text-align: center;}
.events .product-container2 .item2 .desc{ font-size: 0.7vw; text-align: center;}
.events .product-container2 .item2 .update{margin-top:2%; padding-top: 2% !important; border:none; background-color:#2c3e50; color:white; border-radius: 1%; -webkit-border-radius: 1%; -moz-border-radius: 1%; -o-border-radius: 1%; padding-bottom: 2%;}
.events .product-container2 .item2 .not{margin-top:2%; padding-top: 2% !important; border:none; background-color:#2c3e50; color:white; border-radius: 1%; -webkit-border-radius: 1%; -moz-border-radius: 1%; -o-border-radius: 1%; padding-bottom: 2%;}
.events .product-container2 .item2 .delete{margin-top:2%; padding-top: 2% !important; border:none; background-color:#2c3e50; color:white; border-radius: 1%; -webkit-border-radius: 1%; -moz-border-radius: 1%; -o-border-radius: 1%; padding-bottom: 2%;}


.about{padding-left:15%; padding-right: 35%; padding-top:5%; background-color:#F4F4F4; width:105vw; height:500px; margin-bottom:5%; float:left; background-repeat:no-repeat; background-position:right; margin-left:-2%; margin-top: 0vw;}
.about-txt{float: left; width: 50%; height: 500px; pad }
.about-txt i{font-size: 3vw; margin-left: 10%; color: black;}
.about-txt p{font-size: 1vw; margin-bottom: 5%; text-indent: 10%;}
.icon-cont{color:white; width: 20%; float: left; background-color: #333; margin-left: 3%; text-align: center; padding-top: 5%; padding-bottom: 3%; border-radius: 5%; padding-right: 1%;}
.icon-wrap{color:white; margin-left: 10%;}



.login-modal{display:none; position:fixed; top:2%; right:15%; width:13%; height:auto; padding-left:1%; padding-right:1.5%; padding-bottom:1.2%; padding-top:1%; z-index:1000; background-color:#2FDAB8; color:white; font-family:arial; border-radius:5px;} 
.login-modal .login{width:100%; float:left;} 
.login-modal .signup{width:100%; float:left; display:none;} 
.login-modal .login input{border:none; padding:3%; margin-bottom:4%; outline:none; width:100%;}
.login-modal .login button{border:1px solid white; background-color:white; color:#2FDAB8; padding:3%; width:56.5%; float:left; outline:none; margin-right:-6%; font-size:0.8vw;} 
.login-modal .login .sign{border:1px solid white; background-color:transparent; color:white; padding:3%; width:55%; float:left; outline:none; margin-right:-5.5%; font-size:0.8vw;} 
.login-modal .signup input{border:none; padding:3%; margin-bottom:4%; outline:none; width:100%;}
.login-modal .signup select{ margin-bottom:4%;border:none; padding:2%; margin-bottom:4%; outline:none; width:105%;}
.login-modal .signup textarea{ margin-bottom:4%;border:none; padding:2%; margin-bottom:2%; outline:none; width:102%;}
.login-modal .signup button{border:1px solid white; background-color:transparent; color:white; padding:3%; width:56.5%; float:left; outline:none; margin-right:-6%; font-size:0.8vw;} 
.login-modal .signup checkbox{}
.login-modal .signup .log{border:1px solid white; background-color:white; color:#2FDAB8; padding:3%; width:55%; float:left; outline:none; margin-right:-5.5%; font-size:0.8vw;} 
.login-modal .signup i, .login-modal .login i{color:white; font-size:1vw; float:right; margin-bottom:3%;}
.login-modal .input-container{ width: 100; }
.loader{display:none; width: 3%; position: fixed; top:35%; left: 48.5%;background-color: transparent; z-index: 10520;}
.loader img{width: 100%;}
.loaderdiv{display:none;}

.forget_pass{display: none; z-index: 150; position: fixed; background-color:#d9d9d9; width: 50%; top:20%; left:25%; border-radius: 0.5%; -webkit-border-radius: 0.5%; -o-border-radius: 0.5%; -moz-border-radius: 0.5%;}
.forget_pass .header-title{background-color:#737373; width: 98%; padding: 1%; color: black; text-indent: 1%; float:left;}
.forget_pass .header-title h4{font-size: 1vw; float: left;}
.forget_pass .header-title span{font-size: 1.5vw; float: right; margin-right: 1%;}

.forget_pass .form-cont{ padding: 3%; width: 100%; float: left; text-align:center;}
.forget_pass .form-cont input{border:1px solid black; outline: 1; width: 50%; height:25%;  margin-bottom: 2.5%; margin-right: 1%; padding: 1%;}

.forget_pass .form-cont button{width:30%; float:center; font-size: 1vw; color:black; background-color: transparent; border: 1px solid black; padding-top: 1%; padding-bottom: 1%; padding-left: 3%; padding-right: 3%;}





.notif{ display:none; background-color:#2FDAB8;; color:white; font-family: arial; box-shadow: 1px 1px 1px #2FDAB8;; -moz-box-shadow: 1px 1px 1px #2FDAB8;; -o-box-shadow: 1px 1px 1px #2FDAB8;; -webkit-box-shadow: 1px 1px 1px #2FDAB8;; padding:2%; position: fixed; bottom: 2%; right: 2%;}
.kbd{font-size: 0.7vw; background-color:red; border-radius:1050px; padding-left:2% !important; padding-right:2% !important; padding:1%; color:white;}




@media only screen and (max-width: 1300px) {
	 .header{padding-top: 6%; padding-bottom: 6%; padding-left: 3%;  padding-right: 3%;}
	.header .rwd{display: none;} 
	.header .a span i{font-size: 6vw;}
	.header .b span{background-color: #2FDAB8; color:white; padding-left: 6%; padding-right: 6%;  padding-top: 2%; padding-bottom: 2%; border-radius: 3500px; -moz-border-radius: 3500px; -o-border-radius: 3500px; -webkit-border-radius: 3500px;}
	.header .c{width: 28%; float: right; margin-right: -1.8%;}
	.header .c .search{font-size: 1vw; background-color: white;}
	.header .a{width: 36%; float: left;}
	.header .b{width: 1%; float: left;}
	.header .c{width: 39%; float: right; padding-right:0%;}
	.header .c .join{ display:inline; font-size: 4vw; background-color:#2FDAB8; color:white; padding-top: 6%;  padding-bottom: 6%; padding-left: 12%;  padding-right: 12%;  border-radius: 100px; -moz-border-radius: 100px; -o-border-radius: 100px; -webkit-border-radius: 100px;}
	.header .c .join p{display: none;}
	.header .c .join i{display: inline;}
	.header .c .login{display: ; cursor:pointer;}
	.header .c .login{ font-size: 6vw;}
	.header .c .search i{font-size: 6vw; display: none;}
	.header .c .login kbd{font-size: 3vw; background-color:red; border-radius:1050px; padding-left:6% !important; padding-right:6% !important; padding:3%; color:white;}
	 	.cover{background-image:url('../img/wall.jpg'); background-size: 100% 100%; height:40vw; float: left; width: 98%; margin-left: 1%; margin-top: 20%;}


	.login-modal{display:none; position:absolute; top:2%; right:9%; left:7%; width:80%; height:auto; padding-left:3%; padding-right:3.5%; padding-bottom:3%; padding-top:3%; z-index:1000; background-color:#2FDAB8; color:white; font-family:arial; border-radius:5px;} 
	.login-modal .login{width:100% float:left;} 
	.login-modal .login input{border:none; padding:3%; margin-bottom:4%; outline:none; width:93.57%; font-size:3.5vw;}
	.login-modal .login button{border:1px solid white; background-color:white; color:#2FDAB8; padding:3%; width:49%; float:left; outline:none; margin-right:1%; font-size:3vw;}
	.login-modal .login .sign{border:1px solid white; background-color:transparent; color:white; padding:3%; width:49%; float:left; outline:none; font-size:3vw;} 
	.login-modal .signup{width:100% float:left;display:none;} 
	.login-modal .signup input{border:none; padding:3%; margin-bottom:4%; outline:none; width:93.7%; font-size:3.5vw;}
	.login-modal .signup select{ margin-bottom:4%;border:none; padding:2%; margin-bottom:4%; outline:none; width:98.8%;background-color:white; color:#333;}
    .login-modal .signup textarea{ margin-bottom:4%;border:none; padding:2%; margin-bottom:2%; outline:none; width:95%;}
	.login-modal .signup button{border:1px solid white; background-color:transparent; color:white; padding:3%; width:49%; float:left; outline:none; margin-right:1%; font-size:3vw;} 
	.login-modal .signup .log{border:1px solid white; background-color:white; color:#2FDAB8; padding:3%; width:49%; float:left; outline:none; font-size:3vw;}
	.login-modal .signup i, .login-modal .login i{color:white; font-size:5vw; float:right; margin-bottom:3%;}
	

.forget_pass{display: none; z-index: 150; position: fixed; background-color:#d9d9d9; width: 50%; top:20%; left:25%; border-radius: 0.5%; -webkit-border-radius: 0.5%; -o-border-radius: 0.5%; -moz-border-radius: 0.5%;}
.forget_pass .header-title{background-color:#737373; width: 98%; padding: 1%; color: black; text-indent: 1%; float:left;}
.forget_pass .header-title h4{font-size: 1vw; float: left;}
.forget_pass .header-title span{font-size: 1.5vw; float: right;}

.forget_pass .form-cont{ padding: 3%; width: 50%; float: left; align-self: center;}
.forget_pass .form-cont input{border:1px solid black; outline: 1; width: 99%; margin-bottom: 2.5%; margin-right: 1%;float: left; padding: 1%;}
.forget_pass .form-cont select{margin-bottom:2.5%; border:none; outline: none; width: 99%; margin-right: 1%;float: left; padding: 2%;}
.forget_pass .form-cont textarea{border:none; outline: none; margin-top: 0%; width: 99%; padding: 1%;}
.forget_pass .form-cont button{width:30%; float:left; font-size: 1vw; color:black; background-color: transparent; border: 1px solid black; padding-top: 2%; padding-bottom: 2%; padding-left: 5%; padding-right: 5%;}


	.loader{display:none; width: 20%; position: fixed; top:35%; left: 40%;background-color: transparent; z-index: 10520;}
	.loader img{width: 100%;}
	.kbd{font-size: 3vw; background-color:red; border-radius:1050px; padding-left:6% !important; padding-right:6% !important; padding:3%; color:white;}
	.notif{ display:none; background-color:#2FDAB8;; color:white; font-family: arial; box-shadow: 1px 1px 1px #2FDAB8;; -moz-box-shadow: 1px 1px 1px #2FDAB8;; -o-box-shadow: 1px 1px 1px #2FDAB8; -webkit-box-shadow: 1px 1px 1px #2FDAB8;; padding:2%; position: fixed; bottom: 2%; right: 2%; font-size: 4vw;}

}
